<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cartilla para tu mascota online</title>
    <% include barra/head.html %>
</head>

<body>
    <% include barra/navegacion.html %>

    <div class="containerthree p-5">
        <div class="row">
            <div class="col-sm-5 offset-md-4">
                <div class="card animated bounceInUp">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>Contactame</h3>
                    </div>
                    <div class="card-body">
                        <form action="">
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly="" class="form-control-plaintext" id="staticEmail"
                                        value="jimenezroblesdavid@gmail.com">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label"><i class="fab fa-whatsapp fa-2x"></i></label>
                                <div class="col-sm-10 ">
                                    <input type="text" readonly="" class="form-control-plaintext" 
                                        value="311 123 4231">
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include barra/pie.html %>
</body>

</html>