<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cartilla para tu mascota online</title>
    <% include barra/head.html %>
</head>

<body>
    <% include barra/navegacion.html %>

    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="img/logo.png" class="animated tada" alt="logo" width="50%">
            </div>
        </header>
    </div>

    <div class="segundocontenedor">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fas fa-paw fa-8x"></i>
            </div>
            <div class="col-sm-6">
                <h4>¿No recuerdas cual y cuando fue su ultima vacuna?</h4>
                <h4>¿Tu mascota es alérgica?</h4>
                <h4>¿Alguien cuida tu mascota y quieren checar su historial clinico?</h4>

            </div>
        </div>
    </div>

    <div class="imagencontexto">
        <img src="img/dog.jpeg" width="100%" height="100%" />
        <div class="centrado">
            <h2>Obtiene tu cartilla para tu mascota online</h2>
        </div>
    </div>

    <% include barra/pie.html %>

</body>

</html>