body {
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    font-family: 'Calistoga', cursive;
    position: relative;
    min-height: 100vh;
}

.imagencontexto{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 77%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

.formatoregistro {
    margin: 10%;
    color: white;
    
}
